body {
  background-color: gray;
}

.block{
  text-align: center;
}

.block h2 {
  color: gold;
}
.foodBox {
  width: 320px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  margin: auto;
  background-color:blanchedalmond;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

